/* h1{
    background-color: green;
}
h1:hover{
    background-color: aqua;
}

input:hover{
    background-color: blue;
    border: 3px solid red;
}
  */

/* active   jab tak click karke rakha hua hai tab tak active state me rahega*/ 
 /* a[href="http://wikipedia.com"]:active{
    color: red;
} */


/* visited */
 /* a[href="http://reddit.com"]:active{
    color: rgb(0, 166, 255);

 } */

/* focus  sara dhyan input ke andar */
 input{
    background-color: antiquewhite;
 }
 
 input:hover{
    background-color: brown;

 }
 input:focus{
    background-color: blueviolet;
 }


/* nth of type */

/* li:nth-last-of-type(odd){
    color: red;
}

li:nth-last-of-type(even){
    color: gray;
} */


/* li:nth-last-of-type(5){
    color: purple;
} */

/* li:last-child{
    color: rgb(230, 0, 255);
} */


li:nth-of-type(3n+5){
background-color: mediumorchid;
}


























