.box{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 2px solid black;
}
.box:hover{
    background-color: darkgreen;
    animation-name: incerseheight;
    animation-duration: 5s;
    /* animation-delay: 0s; */
    /* animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-timing-function: ease-in-out; */
    animation-iteration-count: 2;
     /* animation-iteration-count: infinite; */
     /* animation-direction: normal; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */
     /* animation-direction: reverse; */
     /* animation-fill-mode: forwards ; */
      /* animation-fill-mode: backwards; */
      /* animation-play-state: paused; */
       animation-fill-mode: running ;
}

/* @keyframes incerseheight {
    from{
        height: 100px;

        background-color: cad;
    }
    
    to{
        height: 800px;
        background-color: crimson;
    }
    
} */
 @keyframes incerseheight {
    0%{
        height: 100px;

        background-color: cadetblue;
    }
    10%{
        height: 300px;
        background-color: blueviolet;
    }
    25%{
        height: 350px;
        background-color: aquamarine;
    }
    50%{
        height: 900px;
        background-color: beige;
    }
    
    100%{
        height: 800px;
        background-color: crimson;
    }
    
}