<!--include header-->
<%- include('./partials/header') %>
<button id="btn">click me</button>
    <h1>hello ji kaise ho mere pyare deshwaasiyo</h1>

    
   <!--include footer-->
   <%- include('./partials/footer') %>
