button{
    border: none;
    background: none;
}

#progess{
    cursor: pointer;

}
i{
    font-size: 1.8rem;
}
#song-list{
    list-style: none;
    padding: 0;

}

#container{
    position: relative;
    width: 360px;
    border: 2px solid black;
    height: 400px;
    margin: 30px auto;
    text-align: center;
   
}
play-section{
    display: flex;
    bottom: 0;
    
    justify-content: center;
    position: absolute;
    
}