.image {
    height: 90vh;
    width: 70vw;
    border: 2px solid black;
    background-image: url('https://images.unsplash.com/photo-1750173588233-8cd7ba259c15?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyNnx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover; /* Correct use */
    background-position: center; /* Only this is enough */
    filter: grayscale(0);
}

.image:hover {
    filter: grayscale(90%);
}
