.parent{
    width: 140vh;
    border: 5px solid black;
    height: 600px;
    background-color: antiquewhite;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: stretch; */
   /* align-content: center;
   align-content: flex-end; */
   /* align-content: space-around; */
    
}
div{
    height: 150px;
    width: 150px;
    border: 1px solid black;
}
/* div:nth-of-type(5){
    align-content: flex-start;
    align-content: flex-end;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}
div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 4;
}
 */
 div:nth-of-type(1){
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-self: self-end; */

    /* flex-basis: 200px; */
}
