<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<h1>show a particular blogs</h1>

<div>
    <h1>ID is: <%= foundComments.id %> </h1>
    <h2>Name is: <%= foundComments.username %> </h2>
    <h4>Comment is: <%= foundComments.comment %> </h4>

    <a href="/blogs/<%= foundComments.id %>">Show</a>
</div>

</body>
</html>