*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
    border: 2px solid black;
    width: 360px;
    margin: 50px auto;

}
h1{
   
    background-color: rgb(25, 152, 195);
    padding: 10px 5px;
    color: white;
  
}
#inp{
    width: 100%;
    height: 24px;
    padding: 8px 4px;
    box-sizing: border-box;


}

li{
    font-size: 24px;
    width:  100%;
    cursor: pointer;
    margin: 10px ;
    padding: 10px;
    box-shadow: 0px 0px 2px gray;
    border-radius: 5px;


}

input:focus{
    outline: none;
}


.complete {
    text-decoration: line-through;
    color: gray;
}

#plus{
    float: right;
 margin-right: 15px;
    cursor: pointer;
}
