section{
    height: 90vh;
    width: 90vw;
    border: 2px solid black;
    background-color: antiquewhite;
}
div{
    width: 100px;
    height: 100px;
    border: 2px solid darkgray;
    background-color: pink;
    margin: 20px;
    transition: 2s;
}
section:hover div{
    margin-left: 80vw;
}
div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: ease-in-out;
}
div:nth-of-type(4){
    transition-timing-function: linear;
}
