*{
    margin:0;
    padding: 0;

}
nav{
    background-color: aqua;
    font-size: 50px;

}
nav>ul{
    display: inline-block;
    top: 0;
    width:100;


}

nav>ul:last-child{
    /* position: fixed; */
    color: red;
    right: 40px;
    margin-left: 380px;
}
ul{
margin-left: 30px;
margin-right: 30px;
}


section{
    margin-top:100px ;
}