p:nth-of-type(1){
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0rem;
    line-height: 2rem;

}
h1{
    /* margin: 10px auto; */
    text-align: center;
    text-shadow: 1.2px 2.1px 1px red,1.2px 1.1px 7px rgb(34, 0, 255),1.4px 2.1px 4px rgb(0, 255, 26);   
    /* hme ise minus bhi kar sakte hai */
    border: 2px solid black;
    box-shadow: 2px 2px 1px grey, 1.2px 2.1px 1px red,1.2px 1.1px 7px rgb(34, 0, 255),1.4px 2.1px 4px rgb(0, 255, 26);
}