* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bd {
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conainer { /* spelling ठीक कर दी */
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

input {
    background-color: black;
    border: none;
    outline: none;
    font-size: 64px;
    color: white;
    padding: 0 20px;
    /* height: 100px; */
    text-align: right;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); /* 4 columns */
    gap: 8px;
    padding-top: 10px;
   
}

button {
    color: white;
    background-color: #505050; /* light grey */
    border: none;
    border-radius: 999px; /* fully oval */
    font-size: 28px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    transition-property : transform;
    transition-duration: 200ms;
}

button:active{
    transform: scale(0.85);
}

.gray-button {
    background-color: #d4d4d4; /* darker grey */
    color: black;
} 
.yellow-button{
    background-color: rgb(204, 255, 0);
    color: black;

}
.zero{
    grid-column: span 2; /* spans two columns */
    width: 80%;
}
