*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    font-size: 20px;
}
ul:nth-of-type(2){
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
li{
    list-style: none;
    text-transform: uppercase;
       margin: 5px;
}
@media screen and (max-width:700px) {
    nav,ul:nth-of-type(2){
       flex-direction: column;
       align-items: center;
    
    }
    
}
/* navbar wnds here */
main{
    /* background-color: beige; */
    display: flex;
    justify-content: space-evenly;
    align-items: centre;
    margin-top: 20px;
    flex-wrap: wrap;
}
article{
    min-width: 300px;
    max-width: 30vw;
    background-color: burlywood;
    margin: 5px;
    transition: 1s;

}
article figure{
    border: 2px solid black;
    /*   */
    text-align: center;
    box-shadow: 1px 3px 5px gray;
    background-color: aqua;
   
}
h2{
      font-family: "Tektur", sans-serif;
}
img{
    width:100%;
    height: 300px;
    box-sizing: border-box;
    
}
button{
    font-size: 16px;
    padding: 3px 15px;
    margin: 4px;
    border-radius: 5px;
    background-color: wheat;
}

article:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
}
