div{
    width: 200px;
    height: 200px;
    border: 3px solid black;
}


/* div:nth-of-type(1){
   background-color: #44a923;

    color: rgb(red, green, blue);
}

div:nth-of-type(2){
    background-color: #44a9ff;
    color: rgb(red, green, blue);
}
div:nth-of-type(2){
    background-color: #ffa9af;
    color: rgb(red, green, blue);
} */

/* div:nth-of-type(1){
   

    background-color: rgb(183, 46, 46);
}

div:nth-of-type(2){
    
    background-color: rgb(200, 150, 50);
}
div:nth-of-type(2){
    
    background-color: rgb(46 , 45, 25);
} */

/* rgba */
/* 
div:nth-of-type(1){
   

    background-color: rgba(183, 46, 46,0.5);
}

div:nth-of-type(2){
    
    background-color: rgba(200, 150, 0,0.1);
}
div:nth-of-type(3){
    
    background-color: rgb(46 , 45, 25,0.9);
} */


/* for opecity color */

/* div:nth-of-type(1){
   background-color: #44a92300;

    color: rgb(red, green, blue);
}

div:nth-of-type(2){
    background-color: #44a9ff66;
    color: rgb(red, green, blue);
}
div:nth-of-type(2){
    background-color: #ffa9afff;
    color: rgb(red, green, blue);
} */