<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ye html nahi ejs hai babu</h1>

    <!--ejs you can ewrite js as well-->
    <p>hello ejs kaise ho </p>
</body>
</html>